# Virtual Environment
.venv/

# Python Cache
__pycache__/
*.py[cod]

# Streamlit secrets
.streamlit/secrets.toml

# Environment variables
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db