pandas==2.2.3 
torch==2.5.1+cpu 
langchain-core==0.3.29 
langchain-community==0.3.19 
langchain-groq==0.2.4 
langchain-text-splitters==0.3.5 
faiss-cpu==1.9.0.post1 
sentence-transformers==2.7.0 
--extra-index-url https://download.pytorch.org/whl/cpu 
